Dataline.Elster.Datenuebermittler2014/xsd/elo2basis.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- Mit XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) von _RZF (Rechenzentrum der Finanzverwaltung NRW) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.elster.de/elo2/Basis" targetNamespace="http://www.elster.de/elo2/Basis">
	<xs:complexType name="elo2_LeaseCType">
		<xs:annotation>
			<xs:documentation>vgl. Lease-Pattern</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID des Lease</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GueltigBis" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Ablaufdatum (mit Zeit) des Lease. Danach kann
                        nicht mehr davon ausgegangen werden, dass ein "Schreibrecht"
                        besteht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="elo2_DialogAenderungsStempelCType">
		<xs:annotation>
			<xs:documentation>Änderungsstempel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BuFA">
				<xs:annotation>
					<xs:documentation>Bundesfinanzamtnummer des bearbeitenden
                        Finanzamtes.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="allg_BundesFinanzamtsnummmerSType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Kennung">
				<xs:annotation>
					<xs:documentation>KROSS-Kennung des Bearbeiters. Die in dieser
                        Kennung enthaltene BUFA-Nummer (ersten vier Stellen) kann von der
                        getrennt gespeicherten abweichen, wenn ein Bearbeiter für ein
                        anderes FA tätig wird.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TStamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Zeitstempel der letzten Änderung
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="elo2_GeschlechtSType">
		<xs:annotation>
			<xs:documentation>Geschlechtsangabe</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:enumeration value="MAENNLICH"/>
			<xs:enumeration value="WEIBLICH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VerfahrenshinweisCType">
		<xs:attribute name="code" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Dieses Feld beinhaltet den Returncode des Verfahrens ElsterLohn2</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="message" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Dieses Feld beinhaltet den entsprechenden Fehlertext zu einem Fehlercode</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="SchemaVersionANAuskunftSType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>http://www.elster.de/lohn2/portal/2011 2011er Version der Portal Schnittstelle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SchemaVersionDueSType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>http://www.elster.de/lohn2/due/2011 2011er Version der Datenuebermittler Schnittstelle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Status" type="VerfahrenshinweisCType">
		<xs:annotation>
			<xs:documentation>Enthält den Hinweis, ob die Einarbeitung in
                Ordnung war oder ob ein Fehler aufgetretten ist.
                        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="AenderungslistenArt">
		<xs:annotation>
			<xs:documentation>Beschreibt die Art der Änderungsliste, also z.B. ob es eine reguläre ÄL oder eine Anmeldebestätigungsliste ist.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BRUTTOLISTE"/>
			<xs:enumeration value="MONATSLISTE"/>
			<xs:enumeration value="ANMELDEBESTAETIGUNGSLISTE"/>
			<xs:enumeration value="ABMELDEBESTAETIGUNGSLISTE"/>
			<xs:enumeration value="UMMELDEBESTAETIGUNGSLISTE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Datum8SType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datum 8-stellig ohne Trennzeichen</xs:documentation>
			<xs:documentation xml:lang="DE">Format : JJJJMMTT</xs:documentation>
			<xs:documentation xml:lang="DE">Lässt auch teilweise oder vollständig unbekannte Daten zu. In diesen Fällen wird der Wert für Tag, Monat oder Jahr entsprechend genullt (19501231, 19501200, 19500000, 00000000)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="8"/>
			<xs:pattern value="(((18)(8|9)\d)|((19|20)\d{2})|(0000))(([0][0-9])|([1][0-2]))[0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_DatumSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datum und Uhrzeit 14-stellig ohne Trennzeichen</xs:documentation>
			<xs:documentation xml:lang="DE">Format : JJJJMMTThhmmss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="14"/>
			<xs:pattern value="\d{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_Datum8SType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datum 8-stellig ohne Trennzeichen</xs:documentation>
			<xs:documentation xml:lang="DE">Format : JJJJMMTT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="8"/>
			<xs:pattern value="(19|20)[0-9]{2}(((01|03|05|07|08|10|12)(0[1-9]|[12][0-9]|3[01]))|(02(0[1-9]|[12][0-9]))|((04|06|09|11)(0[1-9]|[12][0-9]|30)))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_BaseStringSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">die Einschränkungen sind in der Schnittstellenbeschreibung SST_Arbeitgeber zu entnehmen"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringNoLeadingOrTrailingSeparators">
			<xs:pattern value="[\p{L}\p{P}\p{Zs}\p{Nd}]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_BaseStringNoLeadingOrTrailingSeparators">
		<xs:annotation>
			<xs:documentation xml:lang="DE">das letzte Zeichen darf nicht vom Typ {Z} sein, zusätzlich gelten die Einschränkungen des allg_BaseStringNoLeadingSeparators
            </xs:documentation>
			<xs:documentation xml:lang="DE">Verweis auf http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#regexs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringNoLeadingSeparators">
			<xs:pattern value=".*[^\p{Z}_`^}]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_BaseStringNoLeadingSeparators">
		<xs:annotation>
			<xs:documentation xml:lang="DE">das erste Zeichen darf nicht vom Typ {Z} sein, zusätzlich gelten die Einschränkungen des allg_BaseStringUltraLightSType
            </xs:documentation>
			<xs:documentation xml:lang="DE">Verweis auf http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#regexs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringUltraLightSType">
			<xs:pattern value="[^\p{Z}_`^}].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_BaseStringUltraLightSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">alle Zeichen die nicht Kategorien C oder Zl gehören </xs:documentation>
			<xs:documentation xml:lang="DE">Verweis auf http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#regexs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([^\n\r\t\p{C}\p{Zl}])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_BundesFinanzamtsnummmerSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Prüfung der Bundesfinanzamtsnummer auf eine zulässige Ländernummer</xs:documentation>
			<xs:documentation xml:lang="DE">Baden-Würtemberg - 28</xs:documentation>
			<xs:documentation xml:lang="DE">Bayern - 91,92</xs:documentation>
			<xs:documentation xml:lang="DE">Berlin - 11</xs:documentation>
			<xs:documentation xml:lang="DE">Brandenburg - 30</xs:documentation>
			<xs:documentation xml:lang="DE">Bremen - 24</xs:documentation>
			<xs:documentation xml:lang="DE">Hamburg - 22</xs:documentation>
			<xs:documentation xml:lang="DE">Hessen - 26</xs:documentation>
			<xs:documentation xml:lang="DE">Mecklenburg-Vorpommern - 40</xs:documentation>
			<xs:documentation xml:lang="DE">Niedersachsen - 23</xs:documentation>
			<xs:documentation xml:lang="DE">Nordrhein-Westfalen - 51,52,53</xs:documentation>
			<xs:documentation xml:lang="DE">Rheinland-Pfalz - 27</xs:documentation>
			<xs:documentation xml:lang="DE">Saarland - 10</xs:documentation>
			<xs:documentation xml:lang="DE">Sachsen 32</xs:documentation>
			<xs:documentation xml:lang="DE">Sachsen-Anhalt - 31</xs:documentation>
			<xs:documentation xml:lang="DE">Scheswig-Holstein - 21</xs:documentation>
			<xs:documentation xml:lang="DE">Thüringen - 41</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="4"/>
			<xs:pattern value="28\d{2}"/>
			<xs:pattern value="91\d{2}"/>
			<xs:pattern value="92\d{2}"/>
			<xs:pattern value="11\d{2}"/>
			<xs:pattern value="30\d{2}"/>
			<xs:pattern value="24\d{2}"/>
			<xs:pattern value="22\d{2}"/>
			<xs:pattern value="26\d{2}"/>
			<xs:pattern value="40\d{2}"/>
			<xs:pattern value="23\d{2}"/>
			<xs:pattern value="27\d{2}"/>
			<xs:pattern value="10\d{2}"/>
			<xs:pattern value="32\d{2}"/>
			<xs:pattern value="31\d{2}"/>
			<xs:pattern value="21\d{2}"/>
			<xs:pattern value="41\d{2}"/>
			<xs:pattern value="51\d{2}"/>
			<xs:pattern value="52\d{2}"/>
			<xs:pattern value="53\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_StNrSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">gemäß Elster Developers Toolkit </xs:documentation>
			<xs:documentation xml:lang="DE">13-stellig Nummerisch </xs:documentation>
			<xs:documentation xml:lang="DE">Bundesfinanzamtsnummer + 0 + Bezirk + Unterscheidungsnr. + Prüfziffer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="13"/>
			<xs:pattern value="28\d{2}0\d{8}"/>
			<xs:pattern value="91\d{2}0\d{8}"/>
			<xs:pattern value="92\d{2}0\d{8}"/>
			<xs:pattern value="11\d{2}0\d{8}"/>
			<xs:pattern value="30\d{2}0\d{8}"/>
			<xs:pattern value="24\d{2}0\d{8}"/>
			<xs:pattern value="22\d{2}0\d{8}"/>
			<xs:pattern value="26\d{2}0\d{8}"/>
			<xs:pattern value="40\d{2}0\d{8}"/>
			<xs:pattern value="23\d{2}0\d{8}"/>
			<xs:pattern value="27\d{2}0\d{8}"/>
			<xs:pattern value="10\d{2}0\d{8}"/>
			<xs:pattern value="32\d{2}0\d{8}"/>
			<xs:pattern value="31\d{2}0\d{8}"/>
			<xs:pattern value="21\d{2}0\d{8}"/>
			<xs:pattern value="41\d{2}0\d{8}"/>
			<xs:pattern value="51\d{2}0\d{8}"/>
			<xs:pattern value="52\d{2}0\d{8}"/>
			<xs:pattern value="53\d{2}0\d{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_IdNrSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">die 11-stellige IdNr gemäß § 139b AO</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_BundeslandSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">einheitliche Abkürzungen für die Bundesländer gem. Elster Projekthandbuch Datensatzbeschreibung</xs:documentation>
			<xs:documentation xml:lang="DE">BW = Baden-Würtemberg</xs:documentation>
			<xs:documentation xml:lang="DE">BY = Bayern</xs:documentation>
			<xs:documentation xml:lang="DE">BE = Berlin</xs:documentation>
			<xs:documentation xml:lang="DE">BB = Brandenburg</xs:documentation>
			<xs:documentation xml:lang="DE">HB = Bremen</xs:documentation>
			<xs:documentation xml:lang="DE">HH = Hamburg</xs:documentation>
			<xs:documentation xml:lang="DE">HE = Hessen</xs:documentation>
			<xs:documentation xml:lang="DE">MV = Mecklenburg-Vorpommern</xs:documentation>
			<xs:documentation xml:lang="DE">ND = Niedersachsen</xs:documentation>
			<xs:documentation xml:lang="DE">NW = Nordrhein-Westfalen</xs:documentation>
			<xs:documentation xml:lang="DE">RP = Rheinland-Pfalz</xs:documentation>
			<xs:documentation xml:lang="DE">SL = Saarland</xs:documentation>
			<xs:documentation xml:lang="DE">SN = Sachsen</xs:documentation>
			<xs:documentation xml:lang="DE">ST = Sachsen-Anhalt</xs:documentation>
			<xs:documentation xml:lang="DE">SH = Scheswig-Holstein</xs:documentation>
			<xs:documentation xml:lang="DE">TH = Thüringen</xs:documentation>
			<xs:documentation xml:lang="DE">EC = ElsterCountry "Testbundesland" - nicht mit Echtdatenlieferung kombinieren ! </xs:documentation>
			<xs:documentation xml:lang="DE">CS = Clearingstelle"</xs:documentation>
			<xs:documentation xml:lang="DE">BFF = Bundesamt für Finanzen"</xs:documentation>
			<xs:documentation xml:lang="DE">BF = Bundesamt für Finanzen"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="allg_BaseStringSType">
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="HB"/>
			<xs:enumeration value="HH"/>
			<xs:enumeration value="HE"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="RP"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="BFF"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="BF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_SteuerklasseSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE"> Die für den Lohnsteuerabzug maßgebliche Lohnsteuerklasse gem. Lohnsteuerkarte bzw. besonderer Lohnsteuerbescheinigung. Die
                Steuerklasse "0" ist ausschließlich bei besonderen Lohnsteurbescheinigungen zulässig für Arbeitnehmer mit Wohnsitz im Ausland, deren Arbeitslohn gem.
                Doppelbesteuerungsabkommen steuerfrei ist.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_Konfession_ab2008SType">
		<xs:restriction base="allg_BaseStringSType">
			<xs:length value="2"/>
			<xs:enumeration value="ak"/>
			<xs:enumeration value="ev"/>
			<xs:enumeration value="fa"/>
			<xs:enumeration value="fb"/>
			<xs:enumeration value="fg"/>
			<xs:enumeration value="fm"/>
			<xs:enumeration value="fr"/>
			<xs:enumeration value="fs"/>
			<xs:enumeration value="ib"/>
			<xs:enumeration value="ih"/>
			<xs:enumeration value="il"/>
			<xs:enumeration value="is"/>
			<xs:enumeration value="iw"/>
			<xs:enumeration value="jd"/>
			<xs:enumeration value="jh"/>
			<xs:enumeration value="lt"/>
			<xs:enumeration value="na"/>
			<xs:enumeration value="rf"/>
			<xs:enumeration value="rk"/>
			<xs:enumeration value="--"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
